@import "tailwindcss";


@layer base {
    :root {
        --primary-color: #780b0d;
        --secondary-color: #fcb500;
        --font-primary: "Inter", "Arial", sans-serif;
    }

    body {
        font-family: var(--font-primary);
        margin: 0;
        background-color: #fff;
    }
}

/* sembunyikan di Chrome / Edge / Safari */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* sembunyikan di Firefox */
.no-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}